
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="page_super_top">
    <div id="page_top">
        <a href="#content"><img class="scroll" src="images/scroll.png" alt="scroll"></a>
        <div class="heading_container">
            <h1 id="article_head">Frequently Asked Questions</h1>
            <h2 id="article_subhead">Bayview House</h2>
        </div>
        <div id="top_image">
            <img class="imageClass" src="images/galwaybay.jpg" alt="galwaybay">
        </div>
    </div>
</div>
<div id="content">
    <h1 class="about_top">Frequently Asked Questions</h1>
    <hr>
    <div id="faq">
        <ul class="faq_list">
            <li class="question">How do I know if a room is available for booking?</li>
            <li class="answer">Fill in out online form on our booking page and your booking will be confirmed. Note you must be registered to book with us.</li>
            <li class="question">What are the times for checking-in to Bayview house?</li>
            <li class="answer">The regular check-in times are daily from 12pm - 6pm. Please make the B&B aware if you plan to arrive outside of these hours.</li>
            <li class="question">What are the times for checking-out of Bayview house?</li>
            <li class="answer">Checkout is any time between 8am-11am. If you must check-out earlier, ensure you inform Gillian Moore 24hrs prior to your check-out and arrangements can be made.</li>
            <li class="question">Is it possible to cancel my reservation?</li>
            <li class="answer">We understand that you may require to cancel your booking. If you require to do so, contact Bayview House via email 72hrs prior to cancellation.</li>
            <li class="question">Is 24 hour Wi‐Fi available in the B&B?</li>
            <li class="answer">24/7 free Wi‐Fi connection is available in Bayview House.</li>
        </ul>
    </div>
    <p class="about_text">If you require to assitance or have any specific questions check our FAQ section above, refer to our contact page.</p>
    <hr>
</div>
