@if (@Session["Name"] != null)
{

    @Html.ActionLink("Logout", "Logout", "Login", null, new { style = "" })


}

else
{


    @Html.ActionLink("Login ", "Index", "Login", null, new { style = "" })
    <li>@Html.ActionLink("Register", "Index", "Register")</li>

}