@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<div class="table">
    <h2>Status</h2>
    <p>@ViewData["Error"]</p>
    <p>Login failed, please try again...</p>
</div>

