
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="page_super_top">
    <div id="page_top">
        <a href="#content"><img class="scroll" src="images/scroll.png" alt="scroll"></a>
        <div class="heading_container">
            <h1 id="article_head">Location</h1>
            <h2 id="article_subhead">Bayview House</h2>
        </div>
        <div id="top_image">
            <img class="imageClass" src="images/cliff.jpg" alt="cliff">
        </div>
    </div>
</div>
<div id="content">
    <p class="about_top">Find Us</p>
    <hr>
    <p class="about_text"> The B&B is 50 miles / 80 Km from Shannon airport and about a 2-hour drive from Dublin airport. Taxis are available on request. The nearest bus stop is only 60 yards away.</p>
    <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2385.957949188844!2d-9.064783648743466!3d53.27237308785251!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x485b96f9dc55eeeb%3A0x2de9fc1fad74a697!2s54+Newcastle+Rd%2C+Galway!5e0!3m2!1sen!2sie!4v1483456613342"></iframe>
    <hr>
    <p class="about_top">Connemara</p>
    <p class="about_text">Connemara National Park in County Galway, covers 2,957 hectares of mountains, bogs, heaths, grasslands and wood landscapes. Some of the Park's mountains, such as Bencullagh, Benbaun, Benbrack and Muckanagh are part of the TwelveBens. The National Park was established and opened to the public in 1980 and is a must see attraction in Co.Galway.</p>
    <a class="link" href="http://www.connemaranationalpark.ie/">See More</a> <!--Reference website for the Connemara National Park-->
    <img class="about_image" src="images/diamond_hill.jpg" alt="Diamond Hill Connemara National Park" />
    <hr>
    <p class="about_top">Cliffs of Moher</p>
    <p class="about_text">The Cliffs of Moher in County Clare are Ireland’s most visited natural attraction with a magical vista that captures the hearts of one million visitors every year and are a Signature Discovery Point in the heart of the Wild Atlantic Way.  They stretch for 8km (5miles), as the crow flies, along the Atlantic coast of County Clare in the west of Ireland and reach 214m (702 feet) at their highest point at Knockardakin just north of O’Brien’s Tower. Here you can have a world class one in a million visitor experience.</p>
    <a class="link" href="http://www.cliffsofmoher.ie/">See More</a> <!--Reference website for the cliffs of Moher-->
    <img class="about_image" src="images/cliffs_of_moher.jpg" alt="Cliffs of Moher County Galway" />
</div>
