
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="page_super_top">
    <div id="page_top">
        <a href="#content"><img class="scroll" src="images/scroll.png" alt="scroll"></a>
        <div class="heading_container">
            <h1 id="article_head">Activities</h1>
            <h2 id="article_subhead">Bayview House</h2>
        </div>
        <div id="top_image">
            <img class="imageClass" src="images/surf.jpg" alt="surf">
        </div>
    </div>
</div>
<div id="content">
    <p class="about_top">Activities In The Area</p>
    <hr>
    <p class="about_text">Galway City is full of life, entertainment, fantastic restaurants and sight-seeing attractions. Whether you're looking to kick back and relax or for an exciting day/night in the city, Galway has what you are looking for. Sightseeing tours can be arranged at the B&B at a discount for: Connemara, Cliffs of Moher, The Aran Islands and a bus tour of Galway City. All tickets can be purchased on arrival. Taxis are available on request. The nearest bus stop is only 60 yards away.</p>
    <div id="slideshow">
        <div class="gallery_item">
            <img class="gallery_img" src="images/bedroom.jpg" alt="city" />
        </div>
        <div class="gallery_item">
            <img class="gallery_img" src="images/bathroom.jpg" alt="cottage" />
        </div>
        <div class="gallery_item">
            <img class="gallery_img" src="images/breakfast.jpg" alt="bed" />
        </div>
    </div>
    <hr>
    <p class="about_top">Eyre Square Shopping Centre</p>
    <p class="about_text">Eyre Square Centre is Galway City’s liveliest and most attractive meeting place, incorporating over 70 shops including a mix of local Irish retailers as well as the best known brands from the high street including Penneys, New Look, JD Sports, Mothercare, Specsavers, Vera Moda, Jack and Jones, Dunnes Stores, Burger King and many more. As well as our leading mix of fashion and leisure retailers, Eyre Square Shopping Centre has a selection of café style eateries offering shoppers a range of choices from tasty nibbles to coffee and snacks.</p>
    <a class="link" href="http://www.eyresquarecentre.com/">See More</a>
    <img class="about_image" src="images/eyre.jpg" alt="Eyre" />
    <hr>
    <p class="about_top">Beaches</p>
    <p class="about_top">Salthill, Dogs Bay & Gurteen Bay</p>
    <p class="about_text">Galway is an enviable city as it has an abundance of beautiful beaches close to the city, and some of the best beaches on the west coast of Ireland within its county. The closest beach to Galway is in Salthill, a short walk from the city centre along the promenade which starts in The Claddagh area. There are three separate beaches in Salthill which are very popular with visitors and residents during the summer and many of the more resilient locals continue their swimming all year round when the weather is less forgiving. The diving board at Blackrock at the end of the Salthill promenade is a magnet for swimmers and dares brave souls to test their mettle against the swirling Atlantic sea below. Salthill beach along with most of the larger beaches in the county are monitored by lifeguards from May to September. Below is our list of some but not all of the great beaches in Galway. </p>
    <a class="link" href="http://www.galwaytourism.ie/ptop-5-beaches.html">See More</a>
    <div id="slideshow">
        <div class="gallery_item">
            <img class="gallery_img" src="images/salthill.jpg" alt="salthill" />
        </div>
        <div class="gallery_item">
            <img class="gallery_img" src="images/dogsbay.jpg" alt="dogsbay" />
        </div>
        <div class="gallery_item">
            <img class="gallery_img" src="images/gurteen.jpg" alt="gurteen" />
        </div>
    </div>
    <hr>
    <p class="about_top">Coastal Walks</p>
    <p class="about_text">There’s nothing quite like being out in the great wide open, and to say Galway is a walker’s paradise is a bit of an understatement! With spectacular mountain ranges, fine beaches and stunning scenery around every corner, Galway is a natural centre for walking and hiking. And with such a variety in landscape, hundreds flock to Galway each year on walking holidays. What else could you ask for – clean fresh air and plenty of exercise?</p>
    <a class="link" href="http://www.galwaytourism.ie/pTop-5-Walks.html">See More</a>
    <img class="about_image" src="images/walk.jpg" alt="walk" />
    <hr>
    <p class="about_top">Galway Dining</p>
    <p class="about_text">Galway is long established as being the culinary capital of the West of Ireland. With its various cultural quarters, the city has a wonderful mix of gourmet cuisine options, from artisanal pie-makers to wood-fired pizzerias to some of the finest seafood restaurants in the country. </p>
    <a class="link" href="http://www.galwaytourism.ie/ptop-5-restaurants.html">See More</a>
    <img class="about_image" src="images/restaurant.jpg" alt="restaurant" />
    <hr>
    <p class="about_top">Irish Trad Music Pubs</p>
    <p class="about_text">Galway has a vibrant traditional Irish music scene and a history of producing some of the most successful traditional irish musicians. De Dannan, were once based in Galway and other figures in traditional music like Dolores Keane, Frankie Gavin and Mairtin O'Connor, also hail from Galway. Popular bands including the The Saw Doctors and The Stunning, were formed in Galway too. The wealth of musicians performing on the streets and in local venues is a testament to the strong music scene here. There are plenty of theatres and pubs that showcase the work of local and visiting musicans such as The Town Hall Theatre, An Taibhdhearc, Galway Arts Centre, the the Roisin Dubh, Crane Bar, Taaffe's Bar, Tig Coili and Monroe's are just a selection of places to see live performances of various types on a regular basis. Below is a list of the pubs where traditional irish music sessions are held on an almost daily basis.</p>
    <a class="link" href="http://www.galwaytourism.ie/ptop-5-traditionalmusicpubs.html">See More</a>
    <img class="about_image" src="images/pub.jpg" alt="pub" />
    <hr>
    <p class="about_top">Outdoor Activities</p>
    <p class="about_text">Activities such as horse-riding, golfing, fishing, and a variety of water sports are available within close proximity to the B&B. Galway is a haven for watersports and outdoor activities and the prices for lessons and hiring equipment is very reasonable. We recommend our visitors try out the activities Galway has to offer. Bikes are available for hire, more information is available from Gillian Moore. </p>
    <a class="link" href="http://www.galwaytourism.ie/padventure-activities-ireland.html">See More</a>
    <img class="about_image" src="images/surfing.jpg" alt="surfing" />
    <hr>
</div>
