
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="page_super_top">
    <div id="page_top">
        <a href="#content"><img class="scroll" src="images/scroll.png" alt="scroll"></a>
        <div class="heading_container">
            <h1 id="article_head">Our Offers</h1>
            <h2 id="article_subhead">Bayview House</h2>
        </div>
        <div id="top_image">
            <img class="imageClass" src="images/room.jpg" alt="room">
        </div>
    </div>
</div>
<div id="content">
    <p class="about_top">Our Offers</p>
    <hr>
    <p class="about_text">All rooms in the B&B offer the following to its guests: luxuriously furnished, non-smoking, own private bathrooms with full size baths, separate walk-in tropical rain showers, walnut wooden floors, central heating, iron and ironing board, hair dryer, all with 32" to 40" flat T.V. and tea/coffee making facilities. Full breakfast, free 24-hour wireless broadband Internet access throughout, free private off street car park and all taxes are included in rate.  </p>
    <div id="slideshow">
        <div class="gallery_item">
            <img class="gallery_img" src="images/bedroom.jpg" alt="city" />
        </div>
        <div class="gallery_item">
            <img class="gallery_img" src="images/bathroom.jpg" alt="cottage" />
        </div>
        <div class="gallery_item">
            <img class="gallery_img" src="images/breakfast.jpg" alt="bed" />
        </div>
    </div>
    <hr>
    <p class="about_top">The Wild Atlantic Way Suite</p>
    <p class="about_top">(Single Room)</p>
    <p class="about_text">Our Wild Atlantic Way suite is a single room solely for sleeping a maximum of 1 person. This room features a single bed with an ensuite bathroom, television and your own private balcony.<br>€30 per night.</p>
    <img class="about_image" src="images/singleroom.jpg" alt="atlantic" />
    <hr>
    <p class="about_top">The Moher Suite</p>
    <p class="about_top">(Double or Twin Room)</p>
    <p class="about_text">Our Moher Suite is our most popular suite. Sleeping a maximum of 2 people, located on the far west corner of the house, it is extremely comfortable and has a beautiful view of Galway. This room features an ensuite and walk-in wardrobe.<br>€50 per night.</p>
    <img class="about_image" src="images/bedroom.jpg" alt="moher" />
    <hr>
    <p class="about_top">The West Suite</p>
    <p class="about_top">(Triple Room)</p>
    <p class="about_text">Our West Suite sleeps a maximum of 3 people. This room features a double bed for sleeping 2 people, and a single bed for sleeping 1 person.<br>€75 per night.</p>
    <img class="about_image" src="images/tripleroom.jpg" alt="west" />
    <hr>
    <p class="about_top">The Connacht Suite</p>
    <p class="about_top">(Family Room)</p>
    <p class="about_text">This suite sleeps max of 2 adults and 2 children. One double and two single beds. Cots are available.<br>€80 per night.</p>
    <img class="about_image" src="images/family.jpg" alt="connacht" />
</div>
